body {
	margin-top: 200px;
}
div {
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	margin: 20px;
}
img {
	height: 200px;
	width: 140px;
	border-radius: 10px;
}
div h3 {
	margin: 20px;
}
p {
	font-family: 'Lora', serif;
	display: flex;
	flex-flow: row wrap;
}
#ham {
	height: 20px;
	width: 20px;
	border-radius: 0px;
}
.profile {
	background-color: #fff3e6;
	margin: 75px;
	margin-top: 100px;
	flex-direction: column;
}
.profile * {
	margin: 10px;
}
#name {
	font-family: 'Muli', sans-serif;
	text-align: left;
}
#bobby {
	opacity: 0.5;
}
.logo {
	height: 20px;
	width: 20px;
	display: flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
}
.inline {
	display: inline-flex;
	flex-wrap: wrap;
}
@media screen and (min-width:501px) {
 	body {
		background-color: #99ff99;
	}
	header {
		top: 0px;
		left: 0px;
		margin-top: 0px;
		width: 100%;
		position: fixed;
		background-color: #c68c53;
		font-family: 'Patrick Hand', cursive;
		font-size: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
	}	
	.inline {
		display: inline;
		display: flex;
		justify-content: center;
		flex-direction: row;
	}
	#grow {
		transition: all 0.3s ease;
	}
	#grow:hover {
		-webkit-transform: scale(1.1);    
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
}
@media screen and (max-width:500px) {
  	body {
		background-color: #ac7339;
	}
	header {
		top: 0px;
		left: 0px;
		margin-top: 0px;
		width: 100%;
		position: fixed;
		background-color: #99ff99;
		font-family: 'Patrick Hand', cursive;
		font-size: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.inline {
		display: inline;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	#friendlybox {
		height: 75px;
		background-color: #996633;
		margin-top: 35px;
	}
}